<div class = "mainForm">
    <h1 class="center">CONNECT WITH AN ATTORNEY!</h1>
    <br>
    <h3>An attorney will review your case and get back to you within a few bussiness day.</h3>
    <form [formGroup]="reactiveForm" (ngSubmit) = "onSubmit()">
    <div>
       <input type="text" class = "inputForm" id="firstName" placeholder ="First Name" formControlName = "firstName">
    </div>
    <div>
        <input type="text" class = "inputForm" id="lastName" placeholder ="Last Name" formControlName = "lastName">
     </div>
    <div> 
       <input type="text" class = "inputForm" id="emailaddress" placeholder ="Email" formControlName = "email">
    </div>
    <div>
        <span style = "color: red" *ngIf = "!reactiveForm.get('email').valid && reactiveForm.get('email').touched"> The email entered is not a valid email.</span>
    </div>
    <div>
       <input type="text" class = "inputForm" id="mobilenumber" placeholder ="Phone Number" formControlName = "phone">
    </div>
    <div>
        <textarea  type="text" class = "bigInputForm" id="caseDescription" placeholder ="Brief Case Description" formControlName = "description"></textarea>
     </div>
    <div class="center">
    <button mat-raised-button type="submit" class = "submitButton">Get in Contact</button>
    </div>
    </form>
 </div>


