<button mat-icon-button style="float: right; margin: 5px;" matDialogClose>
    <mat-icon> close </mat-icon>
</button>
<mat-dialog-content>
    <header>
        <h1>
            Contact Us
        </h1>
    </header>
    <p><mat-form-field class = "inputText">
        <input matInput placeholder="Enter Your Full Name">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field class = "inputText">
        <input matInput placeholder="Enter Your Email">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field class = "inputText">
        <input matInput placeholder="Enter Your Phone Number">
        <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field class = "inputText"> 
        <textarea matInput placeholder="A Brief Description of the Case"></textarea>
        <mat-icon matSuffix>save</mat-icon>
    </mat-form-field></p>
</mat-dialog-content>
<mat-dialog-actions align = "end">
    <button mat-raised-button color="primary">Submit</button>
    <button mat-raised-button color="warn" matDialogClose>Cancel</button>
</mat-dialog-actions>


