.box{
    height: auto;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    text-align: left;
    font-size: 34px;
    color: black;
    background: rgba(211, 211, 211, .6);
    text-wrap: balance; 
}

.position{
    position: absolute;
    left: 170px;
    top: 225px;
}
