<p>
    <mat-toolbar class = "toolbarClass">
      <button mat-icon-button [matMenuTriggerFor] = "menu" class="example-icon">
        <mat-menu #menu = "matMenu" >
            <button mat-menu-item class = "matMenuClass" [routerLink] = "'Home'">Home</button>
            <button mat-menu-item class = "matMenuClass" [routerLink] = "'TheFirm'">The Firm</button>
            <button mat-menu-item class = "matMenuClass" [routerLink] = "'PracticeAreas'">Practice Areas</button>
            <button mat-menu-item class = "matMenuClass" [routerLink] = "'Locations'" >Locations</button>
        </mat-menu>
        <mat-icon>menu</mat-icon>
      </button>
      <button class = "roundCorners" mat-raised-button routerLink = "Home" >Morocco Morocco and Specht</button>
      <span class ="spacer"></span>
      <button  mat-mini-fab class = "matButtonClass" (click) = "redirect()">
        <mat-icon >facebook</mat-icon>
      </button>
      <button  mat-mini-fab class = "matButtonClass" (click) = "openSnackBar()">
        <mat-icon>phone</mat-icon>
      </button>
      <button  mat-mini-fab class = "matButtonClass" (click) = "sendEmail()">
        <mat-icon>email</mat-icon>
      </button>
    </mat-toolbar>
</p>



  
